/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*Debug Header*/
.debug .jtron{
    background-color: hsl(192, 100%, 50%);
    padding-left: 300px;
    padding-right: 300px;
}

.debug .navigatori{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.debug .jtron-corpo{
    display: flex;
}

/*Debug Main*/

.debug .container{
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
}

.debug .colonna{
    margin: 30px;
}

.container-colonne{
    flex-wrap: nowrap;
}

.debug .feature{
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

/*Main Full screen debug*/



/*Common*/
.debug .flex {
    display: flex;
}

.bottone {
    padding: 10px;
    border: none;
}

.bianco{
    background-color: white;
}

.blu{
    background-color: hwb(219 0% 0%);
    color: white;
}

.bianco:hover{
    border-bottom: 1px solid blue;
}

.blu:hover{
    border-bottom: 1px solid white;
}

ul{
    list-style-type: none;
}

.fa-check{
    color: blue;
}
/*Header*/

.slogan {
    font-size: 90px;
    text-align: center;
}

.jumbo-img{
    justify-content: center;
    align-items: center;
    width: 700px;
    position: relative;
    top: 70px;
}
 .li-header{
    padding: 20px;
    margin-left: 100px;
    font-size: 20px;
 }

 .li-header:first-child {
    margin-top: 50px;
}

/*Main*/
.titoli-section {
    font-size: 50px;
    margin-top: 150px;
}

.radiobottone, .testo-radio{
    margin-top: 40px;
}

.bottoni-radio{
    align-items: center;
    margin-left:20px;

}

.bottoni-radio:first-child{
    margin-right: 50px;
}

/*section delle colonne*/
.colonna{
    border:1px solid #999999;
}

.lista-colonna>li{
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo-li{
    text-align: center;
    border-bottom:1px solid #999999;
    padding-bottom: 20px;
}

li>h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

li>small{
    color: #999999;
}

.user{
    margin-top: 40px;
}

.funzioni{
    margin-bottom: 40px;
}

.buy{
    margin-bottom: 40px;
}

li>hr{
    color: #999999;
    width: 50px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.enterprise{
    border:1px solid #999999;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titolo-enterprise{
    padding: 10px;
}

.bottone-info{
    justify-content: space-between;
}

.container-enterpriseinfo>h4, h2, p{
    padding: 20px;
    max-width: 700px;
}

.container-enterpriseinfo{
    border-top:1px solid #999999;
}

.container-button{
    padding: 20px;
}

.entratesto>.bottone{
    border: 1px solid black;
    margin-left: 40px;
}

.entra>img{
    max-width: 800px;
    margin-top: 100px;
}

.entratesto>h2, p, button{
    margin-left: 20px;
}

.entratesto{
    margin-top: 100px;
}

/*section delle operazioni*/

.container-feature{
    width: calc(100% / 3); 
    flex-direction:column;
    justify-content : space-between;
    align-items : center;
}


.container-feature>img{
    width: 200px;
}

.operazioni>h2{
    margin-top: 80px;
}

/*section dei teams*/

.teams :first-child{
    margin-top: 150px;
}

.teams>h2{
    padding-top: 0px;
}

.teams>p{
    margin-bottom: 100px;
}
/*Main Full Screen*/

.container-loghi{
    /*justify-content: center;
    align-items: center;*/
}

.box-logo{
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.logo-uni{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.logo-uni>img {
    justify-content: center;
    align-items: center;
    width:250px;
    filter: invert(1);

}

.info-uni{
    background-color: #999999;
    width: calc(100% / 3);
}

.info-uni>img{
    margin: 30px;
    width: 250px;
}

.logored{
    background-color: red;
}

.logoyellow{
    background-color: yellow;
}

.logogreen{
    background-color: green;
}

.logobordeaux{
    background-color: brown;
}

.logocyan{
    background-color: cyan;
}

.logolightblue{
    background-color: aliceblue;
}

.logoblue{
    background-color: blue;
}

.info-uni>hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 70%;
}

.info-uni :last-child{
    margin-bottom: 200px;
}
 /*Section Porta*/

 .porta{
    background-color: hsl(192, 100%, 50%);
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 .porta>h2{
    color: brown;
    max-width: 400px;
 }
